# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Dataset Files
# =========================
asl-alphabet.zip
asl-alphabet/

# =========================
# Generated Landmark Data
# =========================
data/landmarks.csv

# =========================
# Trained Models
# =========================
model/*.keras
model/*.h5

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Streamlit Secrets
# =========================
.streamlit/secrets.toml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log